<div class="jumbotron text-center">
  <h1>MEAN APP</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <a class="btn btn-success btn-lg" [routerLink]="['/register']">Sign up</a><a class="btn btn-danger btn-lg" [routerLink]="['/login']">Login</a>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Express Backend</h3>
    <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  </div>
  <div class="col-md-4">
    <h3>Express Backend</h3>
    <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  </div>
  <div class="col-md-4">
    <h3>Express Backend</h3>
    <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  </div>
</div>
